{% extends "template.html" %}
{% block content %}
    <div class="body">
        {% for asset in assets %}
        <a href="/asset/{{asset[0]}}" class="asset-link" data-asset-id="{{asset[0]}}" style="background-image: url('/static/images/{{asset[0]}}d.png')">
            <div class="asset" data-tags="{{ asset[6] | map(attribute=0) | join(',') }}">
                <div class="asset-bottom">
                    <div class="asset-info">
                        <p>{{ asset[1] }}</p>
                        <div class="img-types">
                            {% for type in asset[7] %}
                            <div class="button img-type-btn" data-type="{{type}}" data-asset-id="{{asset[0]}}">{{type.upper()}}</div>
                            {% endfor %}
                        </div>
                        <div class="resolution">
                            <small>{{ asset[5] }}</small>
                        </div>
                    </div>
                    <div class="asset-stats">
                        <div><i class="fa-solid fa-eye"></i> {{ asset[2] }}</div>
                        <div><i class="fa-solid fa-download"></i> {{ asset[3] }}</div>
                        <div><i class="fa-solid fa-thumbs-up"></i> {{ asset[4] }}</div>
                    </div>
                </div>
                
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}