{% extends "template.html" %}
{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="vertical_align" style="margin: 0px 750px 0px 750px; gap: 5px;">
            <h1>Upload Asset</h1>
            <img id="preview-img" class="image" src="../static/images/placeholder.png">
            
            <div>
                <input class="search" type="text" name="name" placeholder="Name">
            </div>

            <div>
                <input class="search" type="text" name="description" placeholder="Description">
            </div>            

            <h1>Diffuse Map</h1>
            <label class="upload-file">
                <input class="button" type="file" name="diffuse" accept=".png, .jpg" onchange="updateFileName(this, 'diffuse-file-name','preview-img')">
                <span id="diffuse-file-name">No file chosen</span>
            </label>
            <h1>Normal Map</h1>
            <label class="upload-file">
                <input class="button" type="file" name="normal" accept=".png, .jpg" onchange="updateFileName(this, 'normal-file-name')">
                <span id="normal-file-name">No file chosen</span>
            </label>
            <h1>Specular Map</h1>
            <label class="upload-file">
                <input class="button" type="file" name="specular" accept=".png, .jpg" onchange="updateFileName(this, 'specular-file-name')">
                <span id="specular-file-name">No file chosen</span>
            </label>
            <h1>Occlusion Map</h1>
            <label class="upload-file">
                <input class="button" type="file" name="occlusion" accept=".png, .jpg" onchange="updateFileName(this, 'occlusion-file-name')">
                <span id="occlusion-file-name">No file chosen</span>
            </label>

            <h1>Tag(s)</h1>
            <div class="grid-3">
                {% for tag in tags %}
                <div>
                    <input class="selectable_button" type="checkbox" name="tags" value="{{ tag[0] }}">
                    <h2>{{ tag[1] }}</h2>
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="button">Upload!</button>
    </div>

</form>

<script>
    function updateFileName(input, spanId, previewId = null) {
        const fileName = input.files.length > 0 ? input.files[0].name : 'No file chosen';
        document.getElementById(spanId).textContent = fileName;

        // if previewId provided, show image preview
        if (previewId && input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById(previewId).src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

